<h1>Editing Review</h1>

<%= render 'form', review: @review %>

<<<<<<< HEAD

<%= link_to 'Back', movie_path(@movie) %>
=======
<%= link_to 'Show', @review %> |
<%= link_to 'Back', reviews_path %>
>>>>>>> 7e729c132e04b49a7804974f0d6089568f5169f2
